.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 45px;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_text {
    font-weight: 600;
    padding: 20px;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.post_avatar {
    margin-right: 10px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.post_comments {
    padding: 20px;
}

.post_Username {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more_Options {
    display: flex;
    justify-content: center;
}