.image_upload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    /* position: fixed;
    bottom: 0; */
}

.imageupload_progress {
    width: 100%;
    margin-bottom: 10px;
}