* {
    margin: 0;
}

.app {
    background-color: #fafafa;
}

.app_header {
    position: sticky;
    top: 0;
    z-index: 1;
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.app__signup {
    display: flex;
    flex-direction: column;
}

.app_headerImage {
    display: flex;
    flex-direction: column;
}

.app__posts {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app_postsRight {
    margin-left: 20px;
    margin-top: 20px;
}

.app_HeaderUserName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged_userName {
    margin-left: 5px;
}